* {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: font1;
  src: url(../../fonts/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: font2;
  src: url(../../fonts/Merriweather-Light.ttf);
}

body {
  background: url(../../images/bg.jpg) fixed center/cover;
  color: #0e0e0e;
  font-family: font1;
  min-height: 100vh;
}

button {
  border: 2px solid black;
  background: none;
  padding: 15px 35px;
  margin: 30px 0 70px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button:hover {
  cursor: pointer;
}

.header {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  height: 100vh;
  position: relative;
}

.header .main-header {
  padding-top: 200px;
}

.header .main-header h1 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 85%;
  margin: 0 auto;
}

.header .main-header p {
  font-family: font2;
  font-style: italic;
  width: 80%;
  margin: 50px auto 0;
}

.header .main-header i {
  margin: 50px 0 100px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 20px;
  font-weight: bolder;
}

.header .main-header nav {
  background: rgba(226, 226, 226, 0.3);
  width: 80%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 10%;
}

.header .main-header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .main-header nav ul li {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.5rem;
  padding: 25px 10px;
}

.header .main-header nav ul li:hover {
  background: #ececec;
  color: #0e0e0e;
}

.main {
  width: 80%;
  margin: 0 auto;
  background: whitesmoke;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main p {
  font-family: font2;
}

.main .main-intro {
  padding: 0 20px;
}

.main .main-intro .date {
  padding: 60px 30px;
}

.main .main-intro .date h3 {
  font-family: font2;
  position: relative;
}

.main .main-intro .date h3::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 20%;
  background: rgba(0, 0, 0, 0.2);
  top: 50%;
  left: -7%;
}

.main .main-intro .date h3::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 20%;
  background: rgba(0, 0, 0, 0.2);
  top: 50%;
  right: -7%;
}

.main .main-intro .descrip h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 30px;
}

.main .main-intro .descrip p {
  line-height: 2.5rem;
  width: 65%;
  margin: 0 auto;
  font-style: italic;
  font-size: 0.8rem;
}

.main .main-intro .descrip .bg-descrip {
  background: url(../../images/pic01.jpg) center/cover;
  height: 180px;
  margin: 30px 10px;
}

.main-more {
  padding: 80px 20px 0;
  position: relative;
}

.main-more h4 {
  font-family: font2;
  margin: 30px;
}

.main-more h3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 30px;
}

.main-more p {
  font-size: 0.8rem;
  margin: 0 20px;
  text-align: left;
  line-height: 1.8rem;
}

.main-more .first h4::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
}

.main-more .first .img-content {
  background: url(../../images/pic02.jpg) center/cover;
  height: 150px;
  margin: 30px 20px;
}

.main-more .second .img-content {
  background: url(../../images/pic03.jpg) center/cover;
  height: 150px;
  margin: 30px 20px;
}

footer {
  background: whitesmoke;
  width: 80%;
  margin: 30px auto 60px;
  padding-top: 50px;
}

footer form {
  padding: 0 40px;
  display: -ms-grid;
  display: grid;
  row-gap: 15px;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: rgba(87, 87, 87, 0.826);
}

footer form input {
  background: none;
  border: 0.5px solid gray;
  border-radius: 3px;
  height: 40px;
}

footer form textarea {
  resize: none;
  background: none;
  border: 0.5px solid gray;
  border-radius: 3px;
}

footer form input[type="submit"] {
  border: 2px solid gray;
  border-radius: 0;
  background: none;
  width: 70%;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 50px;
}

footer .box {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  font-size: 0.7rem;
  padding: 20px 35px;
}

footer .box::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

footer .box h5 {
  text-transform: uppercase;
}

footer .box p {
  font-family: font2;
}

footer .box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .box ul a {
  text-decoration: none;
  color: black;
  margin: 0 5px;
  font-size: 1rem;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=index.css.map */