* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  color: whitesmoke;
}

@font-face {
  font-family: font1;
  src: url(../../font/mont/Montserrat-VariableFont_wght.ttf);
}
body {
  color: rgb(15, 15, 15);
  font-family: font1;
  min-height: 100vh;
  width: 100vw;

  background-color: #151515;
  color: whitesmoke;

  padding: 0 15px;

  position: relative;
}
